.hero_heading::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 70px;
  border-right-width: 3px;
  border-color: gray;
  left: 0;
  background-color: whitesmoke;
  animation: 7s alternate 1s backwards both slide;
}
@keyframes slide {
  0%{
    right: 0;
    width: 100%;
  }
  50%{
    right: 100%;
    width: 100%;
  }
  100%{
    right:100%;
    width: 0%;

  }
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.swiper-slide img {
  display: block;
  width: 30%;
}
  
  /* *{
    padding: 0;
    margin: 0;
  }
  #root{
    width: 100%;
    height: 100%;
  } */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
